
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
  font-family:"Nunito Sans";
    text-align: center;
    color: #000;

}

/* Navbar */

.nav-item{
  padding: 20px 30px 0px 30px;    /* give space between navbar items */
  font-weight: bold;
}

.navbar-nav a{
  color: #000;
}

.navbar-img{     
  display: block;   /* To align a img to center */
  margin: 30px auto 10px auto; 
}

.container-fluid {
  padding: 0 190px 50px 190px;
  text-align: left;
}

.title-heading h1{
  font-size: 2.5rem;
    line-height: 1.5;
    font-weight:900;
    padding: 3% 0 0 18%;  /* this property will arrange lines count as 2 lines */
    
}

.title-heading p{
  font-weight: 6rem;
 padding: 3% 15% 0 18%;     /* this property will arrange para makes as 5 lines */

}

.title-image{
  position: relative;
  left:15%;
  width: 70%;
 
}

.check-button{
  margin: 3% 0 0 18%;
  width:200px;
  height: 50px;
  background: #F8FAFC 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 48px #00000029; 
  
}

svg{
  position: absolute;
  z-index: -1;
}

/* Second-section */
#second-section{
  padding: 0 190px 50px 190px;
  background-color: #F8FAFC;
}

.cards-columns{
  padding: 3% 2%;

}

.card{
  width:310px;
  height: 400px;
    
  
}

.feature-box {
  padding: 5%;
  /* to give space between 3 boxes */

}

.feature-box .card-img{
  width: 260px;
  height: 157px;
}

.feature-box h6{
  font-weight: bold;
}

#third-sec{
  padding: 0 190px 50px 190px;
  background:#F8FAFC 0% 0% -moz-radial-gradient() padding-box;
  
  
}

#fourth-section{
  padding: 0 190px 50px 190px;
}


.divide-img-right{
  text-align: right;
}

.divide-img-right p{
  font-size: 1.2rem;
}


.divide-img-right button{
  margin-right: 220px;
  margin-top:5px;
}

.divide-img-left p{
  font-size: 1.2rem;
}

.divide-img-left button{
  margin-left: 0px;
  margin-top:5px;
}
.black-section {
  font-family: arial;
  font-size: 18px;
  
  width: 100%;
  height: 300px;
  background-color: #000;
  color: #fff;
}

.black-section p{
  position: relative;
  top: 230px;
  text-align: center;
}

.footer-para{
  text-align: center;
  background-color: #000;
}

#fifth-section{
  padding: 0 190px 150px 190px;
}

#fifth-section .white-card-container{
  width: 1097px;
  height: 365px;
  background-color: #F8FAFC;
  border-radius: 42px;
  color: #000;
  padding: 30px;
  box-shadow: 0px 16px 48px #00000029;
}

#fifth-section .white-sec-card{
  width: 285px;
height: 263px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 16px 48px #00000029;
border-radius: 30px;
margin: 30px;
padding: 15px;
}

#fifth-section  .white-sec-card-content{
  font-size:12px;
}

#fifth-section .rating-stars{
  width: 14px;
height: 14px;
float: right;
margin: 2px;
}

#fifth-section .profile-img{
  margin: 5px;
}



#fifth-section .designation-part{
  color: #615C5C;
  font-size:12px;
  padding: 0px;
  
}

#fifth-section .person-name{
  font-size: 12px;
  margin: 0px;
}

#sixth-section{
  padding: 0 190px 50px 190px;
}

#sixth-section .sixth-box{
  padding: 100px;
}
.sixth-box .com-loco-img{
  width:180px;
  height: 80px;
}